.e4_body  {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.e4_title  {
    color: white;
    margin: 10px 0 20px 0;
    text-align:center;
    font-family:"no-roboto",sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
}
.e4_dashboard  {
    background-color: white;
    width:80%;
    height:475px;
    box-shadow:4px 4px 15px 0 black;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center
}
.e4_graph_div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:97%;
    height:100%;
}
.e4_graph {
    margin-top: 28px;
    width:100%;
    height:100%;

}
.input_div{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center
}
.input_button:hover{
    cursor:pointer;
}
.e4_predict{
    font-size:1em;
    font-weight:bold;
    font-family:sans-serif;
    text-align:center;
}
